body {
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
}

/* Main container */

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 0.5em;
}

/* Nav styles */

header {
    padding: 2em 0;
    border-bottom: 1px solid grey;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 0.5em;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-link {
    text-decoration: none;
    color: black;
}

.nav-index {
    font-size: 1.5em;
    font-weight: bold;
}

.button-user {
    display: inline-block;
}

/* Footer styles */

footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0.5em;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

/* Auth form Register, Sign in Styling */

.form-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}

.auth-form {
    max-width: 500px;
    width: 500px;
    padding: 1em;
    text-align: center;
}

.auth-form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 1em 0.5em;
    background-color: rgb(240, 240, 240);
}

/* Browse page */

.browse-link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(76, 76, 248);
}

.browse-link:hover {
    text-decoration: underline;
}

/* Question styles */

.question-user-section-container {
    display: flex;
}

.question-user-section-container img {
    width: 100%;
    max-width: 50px;
    object-fit: contain;
}

.vote-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.question-vote-container {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.vote-btn:hover {
    scale: 1.2;
    transition: 0.2s;
}

.question-answer-container {
    border-bottom: 2px solid grey;
}